.under_con_css{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-title-2 {
    color: #3f3f3f;
    padding: 20px 2px;
    font-size: 22px;
    text-transform: uppercase;
 }