.image_container{
    /* object-fit: cover; */
    /* max-width: 100%; */
    width: 100%;
    
    color: #2eae9f;
}
.card_text_align{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row_container_last{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content-title-2 {
    color: #3f3f3f;
    padding: 20px 2px;
    font-size: 22px;
    text-transform: uppercase;
 }